.logo_nav
{
    position: absolute;
    width: 60px;
    height: 43px;
    left: 88px;
    top: 60px;
}
.main_nav
{
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 14px 36px;
    color: black;
    float: right;
}
.menu
{
    display: flex;
    font-size: 20px;
    list-style-type: none;
}
.menu_item
{
    margin-right: 28px;
}
.create_button
{
    font-weight: bold;
    border: 1px solid #FFB0B1;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 16px 36px;
    height: 50px;
    background: #FFFFFF;
}
.text_section
{
    position: absolute;
    width: 449px;
    height: 192px;
    left: 200px;
    top: 270px;
    font-size: 58px;

}
.text
{
    position: absolute;
    width: 436px;
    height: 84px;
    left: 200px;
    top: 504px;
    font-size: 15px;
}
.main_button
{
    position: absolute;
    width: 332px;
    height: 50px;
    left: 200px;
    top: 664px;
}
.stail_button
{
    font-weight: bold;
    border-radius: 50px;
    border: none;
    background: #233FE2;
    width: 156px;
    height: 50px;
    color: #FFFFFF;
}
.stail_button2
{
    font-weight: bold;
    padding: 16px 36px;
    position: absolute;
    left: 176px;
    border: 1px solid #FFB0B1;
    border-radius: 50px;
    background: #FFFFFF;
}
.full_screen_photo
{
    position: absolute;
    height: 600px;
    right: 0px;
    top: 150px;
}
.logo_photo_posicion
{
    position: absolute;
    width: 800px;
    right: 0px;
    top: 800px;
    padding: 50px;
}
.logo_photo
{
    margin-right: 90px;
}